@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
form {
  display: flex;
  flex-direction: column;
}
.canvas_container {
  width: 210px !important;
  height: 110px;

}
canvas {
  width: 100%;
  height: 100% !important;
}
form ul li {
  margin: 8px 0;
}
form ul p {
  margin: 1rem 0;
}

button:not([type="button"]) {
  color: white;
  background-color: green !important;
  padding: 0.5em 1em;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 7px;
}

button[type="button"] {
  background: gray;
  color: white;
  padding: 0.4em;
}

label {
  @apply block text-lg text-gray-900;
}
input:nth-child(5) {
  @apply border-0 p-0;
}
input {
  @apply my-2 w-full border border-gray-300 py-2 px-4 rounded;
}
.s label {
  @apply flex flex-row justify-between;
}


label span {
  @apply text-green-600;
}


.error {
  @apply text-red-500;
}
